.button_login {
    font-size: 15px;
    background-color: rgb(247, 25, 25);
    border-radius: 4px;
    color: white;
    font-weight: 500; 
    border: 0;
    padding: 6px 15px;
    transition: all 300ms;
    cursor: pointer;

    &:hover {   
        background-color: #f74016;
        transition: all 300ms;
    }

    &:active {   
        background-color: #fe3f14;
        transition: all 300ms;
    }

    @media (max-width: 550px) {
        font-size: 14px;
        padding: 4px 12px;
    }

    @media (max-width: 360px) {
        font-size: 13px;
        padding: 4px 10px;
    }
}
