.section_contacts{
    position: relative;
    flex: 1;
    width: 100%;
}

.bg_contacts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    max-height: 100vh;
    z-index: -1;
    background-image: url('./assets/bg-main-img.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.section_title {
    padding-top: 45px;
    text-align: left;
}

.block_contacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 275px));
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 40px;
    margin-top: 83px;

    @media (max-width: 630px) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.item_block_contacts {
    max-width: 480px;
    user-select:text;
    -webkit-touch-callout: text;
    -webkit-user-select: text; 
    -khtml-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 
}

.title_contact {
    font-size: 16px;
    font-style: normal;
    font-weight: 700; 
    margin-bottom: 10px;
    user-select:text;
    -webkit-touch-callout: text;
    -webkit-user-select: text; 
    -khtml-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 

    @media (max-width: 470px) {
        font-size: 15px;
    }
}

.text_contact {
    font-size: 14px;
    font-weight: 400; 
    margin-bottom: 5px;
    user-select:text;
    -webkit-touch-callout: text;
    -webkit-user-select: text; 
    -khtml-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 

    @media (max-width: 470px) {
        font-size: 13px;
    }
}