.steps_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
        .block_image {
            transform: translateY(-5px);
            transition: all 300ms;
        }
    }

    @media (max-width: 1120px) {
        max-width: 250px;
    }
}

.span {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.title {
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    @media (max-width: 470px) {
        font-size: 18px;
    }
}

.text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.block_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    transition: all 400ms;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}