.new_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    height: 100%;
    position: relative;
    background-image: linear-gradient(to top, #ffffff 100%, #ffffff00);
    border-radius: 10px;
    color: black;

    a {
        flex: 1;
    }
}

.new_box_loader {
    display: flex;
    justify-content: center;
    background-color: transparent;

    svg {
        width: 100%;
    }

}

.image {
    max-width: 130px;
    margin: 0 auto;
    transform: scale(1.35);
}

.title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600; 
    text-align: center;
}

.image_box {
    display: flex;
    justify-content: center;
    transform: translateY(-27px);
}

.text_block {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 13px;
    font-style: normal;
    font-weight: 400; 
    text-align: left;
    margin-top: 10px;
    line-height: normal;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.block_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    margin-top: auto;
    color: #fdfdfd79;
}

.price {
    display: flex;
    align-items: end;
    column-gap: 10px;
    margin-top: 5px;
    span {
        color: #A1A1A1;
        font-size: 15px;
        font-style: normal;
        font-weight: 500; 
        text-transform: uppercase;
    }
    p {
        color: #1D1D1D; 
        font-size: 15px;
        font-style: normal;
        font-weight: 600; 
    }
}

.btn_add {
    width: 100%;
    font-size: 15px;
    height: 100%;
    font-style: normal;
    font-weight: 500; 
    border: 0;
    border-radius: 0px 0px 0px 10px;
    background: #8338EC; 
    color: white;
    transition: all 300ms;

    &:hover {
        background: #7431d1; 
        transition: all 300ms;
    }
}

.info {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 20px 20px ;
    gap: 10px;
    height: 100%;
}

.icon_new_box {
    position: absolute;
    bottom: -29px;
    right: -35.5px;
    width: 74px;
    height: 30px;
}

.cart__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}

.button__add_cart {
    flex: 1;
    height: 100%;
}

.counter__block {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0px 0px 0px 10px;
    justify-content: space-between;
    padding: 0px 25px;
    background-color: #8338EC; 

}

.counter__image {
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.counter__count {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.counter__info {
    display: flex;
    flex-direction: column;
}
