.section_ready_gifts {
    position: relative;
    flex: 1;
    width: 100%;
}

.section_title {
    padding-top: 45px;
}

.search_block {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.close_icon {
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin-left: 5px;
}

.search {
    display: flex;
    align-items: center;
    font-size: 14px;
    column-gap: 13px;
    border: 1px solid #FFFFFF;
    border-radius: 36px;
    padding: 7px 18px;
    background-color: rgba(255, 255, 255, 0);

    input {
        background-color: transparent;
        border: 0;
        color: #ffffff;
        width: 175px;
    }

    img {
        width: 16px;
    }
}

.filter_item {
    display: flex;
    align-items: center;
    font-size: 13px;
    column-gap: 13px;
    border: 1px solid #FFFFFF;
    border-radius: 36px;
    padding: 5px 15px;
    height: fit-content;
    cursor: pointer;
    font-family: inherit;
}

.span {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.97);
}

.block__all__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(235px, 1fr));
    justify-content: flex-start;
    gap: 30px;
    justify-content: space-between;
    margin-top: 60px;
    row-gap: 50px;
    min-height: 300px;
}

.block__all__bg {
    @extend .block__all__boxes;
    background-image: url('./assets/bg-main-img.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.filter_item__block {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.product__null__text {
    text-align: center;
    font-size: 18px;
    margin-top: -60px;
}